<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://phonegap.com/ns/1.0"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.example"
versionCode = "10"
version ="1.0.0">


<name>PhoneGap Example</name>
<description>An exmaple</description>
<author href=https://build.phonegap.com email="pngowry1999@gmail.com">Neha Gowry</author>

</widget>